.technologies-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 500px;
  width: 100%;
}

.work-list li {
  margin: 1rem 0;
}

.technologies-list__item {
  display: flex;
  margin: 1.5rem;
  width: 100%;
  max-width: 200px;
}

.svg {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

/* @media screen and (min-width: 800px) {
  .technologies-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 4rem;
    max-width: 100vw;
  }
} */
