@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500;800&family=Merriweather:wght@400;700&display=swap");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Merriweather Sans", sans-serif;
  cursor: default;
  line-height: 1.5;
  overflow-x: hidden;
  --color-background: white;
  --color-black: black;
  --color-text: #212427;
  --color-button: white;
  --color-accent: lavender;
  --color-logo: none;
  --color-input: white;
  --color-tertiary: aliceblue;
  --color-footer: aliceblue;
  --tooltip-text-color: white;
  --tooltip-background-color: black;
  --tooltip-margin: 40px;
  --tooltip-arrow-size: 6px;
  color: var(var(--color-text));
  background: var(--color-background);
  transition: 0.3s all;
}

body.dark {
  --color-background: #333647;
  --color-black: white;
  --color-text: #bbbcc2;
  --color-button: #bbbcc2;
  --color-accent: rgb(228, 228, 228);
  --color-footer: #242633;
  --color-tertiary: rgb(85, 107, 126);
  --color-logo: invert(100%) sepia(1%) saturate(548%) hue-rotate(355deg)
    brightness(117%) contrast(100%);
  --color-input: rgb(241, 237, 237);
}

main {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.list {
  list-style-type: none;
}

.grid {
  display: grid;
}

.grid--1x2 {
  display: grid;
  grid-template-columns: repeat(1, fr);
}

h2 {
  font-size: 3rem;
  font-family: "Merriweather", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
  margin: 0;
  margin-bottom: 1.5rem;
}
